.gdla-home-page {
    flex: 1;
    display: flex;
    flex-direction: column;

    .gdla-home-page__header {
        background-image: url('https://tk.gdla.gov.vn/Images/bannernen_BT.png');
        display: flex;
        flex-direction: row;
        padding: 48px 0;

        .header_logo_layout {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: end;
        }

        .image_logo {
            text-align: right;
            height: 68px;
        }

        .header_text_layout {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            flex: 3;
        }

        .header_text_top {
            text-align: left;
            color: #952a14;
            font-family: 'Roboto', sans-serif;
            font-size: 19px;
            margin-bottom: 0;
            font-weight: bold;
        }

        .header_text_bottom {
            text-align: left;
            color: #952a14;
            font-family: 'Roboto', sans-serif;
            font-size: 29px;
            margin-bottom: 0;
            font-weight: bold;
        }
        .header_text_layout-right{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .header_text_right {
            flex: 1;
            top: 25px;
            font-size: 28px;
            color: #da1313;
            font-family: 'Roboto', sans-serif;
            padding: 0 15px 0 15px;
            font-weight: bold;
        }



    }

    .gdla-home-page__body {
        display: flex;
        flex-direction: row;
        flex: 1;

    }

    .body-header {
        background-color: #ffffff;
        border-color: #ddd;
        font-family: Roboto, sans-serif;
        text-align: center;
        color: #1976d2;
        font-size: 18px;
        padding: 14px 0;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
    }

    .body-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 446px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 14px;
    }

    .body-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 21px;
        padding: 10px 15px;
        // background-color: #FFFF;
        border-top: 1px solid #ddd;
        text-decoration: underline;

        .body-button {
            // background-color: #4d9235;
            // color: #FFF;
            // height: 48px;
           
            font-weight: bold;
            font-size: 14px;
            color: #F4600C;
        }

        .button-center {
            // background-color: #952a14;
            font-weight: bold;
            font-size: 14px;
            color: #F4600C;
        }
    }

    .body-text-content {
        line-height: 2.2;
        color: #161515;
        padding-left: 5px;
        font-family: Roboto, sans-serif;
        text-align: left;
        font-size: 14px;
    }

    .gdla-home-page__body__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 12px 3px 0;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

    .gdla-home-page__body__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

    .gdla-home-page__body__center {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 3px 3px 0px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

}