.gdla-home-page {
    flex: 1;
    display: flex;
    flex-direction: column;

    .gdla-home-page__header {
        background-image: url('https://tk.gdla.gov.vn/Images/bannernen_BT.png');
        display: flex;
        flex-direction: row;
        padding: 48px 0;

        .header_logo_layout {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: end;
        }

        .image_logo {
            text-align: right;
            height: 68px;
        }

        .header_text_layout {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            flex: 2;
        }

        .header_text_top {
            text-align: left;
            color: #952a14;
            font-family: 'Noto Serif', serif;
            font-size: 19px;
            margin-bottom: 0;
        }

        .header_text_bottom {
            text-align: left;
            color: #952a14;
            font-family: 'Noto Serif', serif;
            font-size: 29px;
            margin-bottom: 0;
        }

        .header_text_right {
            flex: 1;
            top: 25px;
            font-size: 36px;
            color: #da1313;
            font-family: 'Noto Serif', serif;
            padding: 0 15px 0 15px;
        }



    }

    .gdla-home-page__body {
        display: flex;
        flex-direction: row;
        flex: 1;
        background-color: #FFF;
    }

    .body-header {
        background-color: #4d9235;
        border-color: #ddd;
        font-family: 'Noto Serif', serif;
        text-align: center;
        color: #FFF;
        font-size: 18px;
        padding: 10px;
    }

    .body-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 446px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .body-bottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 21px;
        padding: 10px 15px;
        background-color: #FFFF;
        border: 1px solid #ddd;
        .body-button{
            background-color: #4d9235;
            color: #FFF;
            height: 48px;
        }
        .button-center{
            background-color: #952a14;
            font-size: 20px;
        }
    }
    .body-text-content {
        line-height: 1.8;
        color: #161515;
        padding-left: 5px;
        font-family: 'Noto Serif', serif;
        text-align: left;
        font-size: 18px;
    }

    .gdla-home-page__body__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 3px 3px 3px 3px;
        border: 1px solid #ddd;
    }

    .gdla-home-page__body__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 3px 3px 3px 0;
        border: 1px solid #ddd;
    }

    .gdla-home-page__body__center {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 3px 3px 3px 0px;
        border: 1px solid #ddd;
    }

}